form {
    label {
      font-weight: 600;
    }
  
    input,
    textarea,
    select {
      border-radius: 6px;
      border: 1px solid #ced4da;
  
      &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
      }
    }
  }
  